In [4]:
from sqlalchemy import create_engine
import pandas as pd
import pyfpgrowth as fp
engine = create_engine('postgresql://postgres:password@localhost:5432/postgres')

In [111]:
df = pd.read_sql("""
SELECT distinct concat(item,':',replace(nullif(path,'null'),'null:','')) as path, cnt from public.fp
where cnt > 1
""", engine)

In [43]:
df

                        path  cnt
0               22834:85123A   30
1                22112:22111   30
2                22632:22633   21
3              84029E:85123A   21
4               22111:85123A   20
..                       ...  ...
269       22470:85123A:22423    2
270  22866:22633:22632:22865    2
271              21754:22423    2
272              21212:22726    2
273  22659:21212:20685:22752    2

[274 rows x 2 columns]

In [112]:
fp_sql = {tuple(row["path"].split(':')):row["cnt"] for index, row in df.iterrows()}

In [113]:
rules = pyfpgrowth.generate_association_rules(fp_sql, 0.7)

In [122]:
df_rules = pd.DataFrame.from_dict(rules, orient='index')

,0,1
"(22470, 85123A)","(22469,)",1.600000
"(82482, 82494L)","(82483, 84029E, 84029G, 85123A)",3.000000
"(84029G, 85123A)","(82483, 82494L, 84029E)",1.250000
"(82494L, 85123A)","(82483, 84029E, 84029G)",1.666667
"(22910, 85123A)","(22086,)",1.250000
"(22632, 22867)","(22865,)",1.000000
"(21479, 22834)","(21481,)",1.000000
"(21479, 22112)","(22111,)",0.750000
"(21485, 84029E)","(22111, 22112, 22837)",1.000000
"(21485, 22111, 84029E)","(22112, 22837)",1.000000
"(21485, 22111, 22837, 84029E)","(22112,)",1.000000
"(21485, 22111)","(22112, 84029E)",1.000000
"(21485, 22112)","(22111, 84029E)",0.750000
"(21485, 22111, 22112)","(22837, 84029E)",1.000000
"(20725, 21212)","(84991,)",1.000000
"(20685, 21212)","(22752,)",1.000000
"(22469, 22834)","(85123A,)",1.000000
"(22726, 22960)","(22727,)",1.000000
"(21479, 22112, 84029E)","(21485, 22111, 22837, 84029G)",1.000000
"(21485, 22111, 22112, 22837, 84029E)","(21479, 84029G)",1.000000
"(21485, 85123A)","(22111,)",1.000000
"(22086, 22423, 22834)","(22111,)",1.000000
"(82494L, 84879)","(85123A,)",1.000000
"(20725, 85099B)","(22411,)",1.000000
"(22910, 22961)","(21034,)",0.750000
"(84029E, 85123A)","(84029G,)",0.857143
"(22197, 22961)","(21733,)",1.000000
"(21481, 22834)","(21479,)",1.000000
"(21479, 22470)","(22469, 22837)",1.000000
"(22837, 85123A)","(22111, 22112)",0.750000
"(22111, 22834)","(85123A,)",1.000000
"(22112, 85123A)","(22111,)",0.700000
"(21479, 22086, 22837, 22910)","(21481,)",1.000000