In [1]:
# Bibliotecas

from sqlalchemy import create_engine
import pandas as pd

# Dataset do UCI

df = pd.read_excel(r'C:\Users\tdiog\Nextcloud\Documents\ProDEI\TAECAC\Online Retail.xlsx')

# Análise rápida às variáveis do dataset

df.describe(include='all')

<ipython-input-1-5391d3e4df3e>:10: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909.0,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900.0,4070,4223,NaN,23260,NaN,NaN,38
top,573585.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-10-31 14:41:00,NaN,NaN,United Kingdom
freq,1114.0,2313,2369,NaN,1114,NaN,NaN,495478
first,NaN,NaN,NaN,NaN,2010-12-01 08:26:00,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2011-12-09 12:50:00,NaN,NaN,NaN
mean,NaN,NaN,NaN,9.552250,NaN,4.611114,15287.690570,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

É possível verificar que existem valores negativos nas variáveis Quantity e UnitPrice, e valores máximos muito superiores à média e desvio-padrão, que indica que existem outliers. Será necessário filtrar os dados para remover valores negativos e outliers.

Tipicamente, estes valores representam códigos e devem ser ignorados.

In [2]:
# Contagem de valores em branco por variável

df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Será necessário remover todas as linhas em que o CustomerID e a Description se encontram vazios.

In [ ]:
# Envio para postgreSQL

engine = create_engine('postgresql://postgres:password@192.168.1.70:5432/postgres')
df.to_sql('uci_database', engine)